{% macro nav_link_with_icons(endpoint, text, icon) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="uk-active">
        <a href="{{ url_for(endpoint) }}">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: {{icon}}"></span>
            {{text}}
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ url_for(endpoint) }}">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: {{icon}}"></span>
            {{text}}
        </a>
    </li>
{% endif %}
{% endmacro %}

{% macro nav_link(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="uk-active">
        <a href="{{ url_for(endpoint) }}">
            {{text}}
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ url_for(endpoint) }}">
            {{text}}
        </a>
    </li>
{% endif %}
{% endmacro %}

