{% extends "base.html" %}
{% block content %}
<div class="uk-container">
        <ul class="uk-list uk-list-striped">
        {% for word in words %}
        <li>
            <form action="{{ url_for('rm_words') }}" method="POST">
                <input type="hidden" name="word_id" value="{{word.id}}">
                {{word.word}}
                <button type="submit" class="uk-button"><span uk-icon="icon: trash"></span></button>
            </form>

        </li>
        {% endfor%}
    </ul>


</div>
{% endblock%}